.about {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Libre Baskerville", serif;
  font-size: 12px;
  line-height: 16px;

  @include onTablet {
    margin-top: 150px;
    font-size: 14px;
    line-height: 20px;
  }

  @include onDesktop {
    margin-top: 210px;
    font-size: 21px;
    line-height: 30px;
  }

  &__img {
    width: 250px;
    height: 78px;
  }

  &__text {
    margin-top: 26px;
    font-family: "Libre Baskerville", serif;
    text-align: center;
    letter-spacing: 0.09em;
    max-width: 370px;
  }
}
