.editors {
  margin-top: 52px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 55px;

  &__title {
    font-size: 26px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.02em;

    @include onTablet {
      font-size: 30px;
      line-height: 45px;
    }

    @include onDesktop {
      font-size: 42px;
      line-height: 57px;
    }

    &::after {
      content: "";
      margin: 8px auto 0;
      display: block;
      height: 5px;
      width: 90%;
      background-color: $borderColor;

      @include onTablet {
        width: 200px;
      }
    }
  }

  &__img {
    height: 200px;
    @include onTablet {
      height: 298px;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;

    @include onTablet {
      flex-direction: row;
      gap: 68px;
      text-align: start;
    }
  }
}
