.footer {
  margin-top: 44px;
  height: 425px;
  display: flex;
  flex-direction: column;
  background-color: $borderColor;
  color: $whiteColor;
  font-size: 8px;
  text-align: center;

  @include onTablet {
    margin-top: 124px;
    font-size: 12px;
    line-height: 18px;
  }

  @include onDesktop {
    margin-top: 244px;
    font-size: 16px;
    line-height: 24px;
  }

  &-about {
    margin-left: 36px;
    margin-right: 36px;
  }

  &__title {
    margin-top: 130px;
    font-family: "Libre Baskerville", serif;
    font-size: 42px;
  }

  &__text {
    margin: 34px auto 0;
    max-width: 332px;
  }

  &__list {
    margin: 38px auto 0;
    display: flex;
    align-items: center;
    gap: 15px;
    list-style: none;
  }

  &__link {
    display: inline-block;
    height: 27px;
    width: 27px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    &-twitter {
      height: 25px;
      width: 30px;
      background-image: url("./images/icons/twitter.svg");
    }

    &-insta {
      background-image: url("./images/icons/instagramm.svg");
    }

    &-linkedin {
      background-image: url("./images/icons/linkedin.svg");
    }

    &:hover {
      transform: scale(1.2);
    }
  }
}
