.interior {
  margin-top: 70px;
  padding-top: 4px;
  height: fit-content;
  background-image: url("./images/interiorBackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @include onTablet {
    height: 592px;
  }
}
