.tags-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__tabs {
    margin: 60px auto 0;
    width: 79%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }

  &__button {
    padding: 20px 19px;
    height: 43px;
    display: flex;
    align-items: center;
    border: 1px solid $borderColor;
    border-radius: 50px;
    background-color: $whiteColor;
    font-family: "Libre Baskerville", serif;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__input {
    margin: 40px 0 0;
    padding: 0 60px 0 20px;
    width: 100%;
    height: 60px;
    position: relative;
    left: 10px;
    border: 1px solid $blackColor;
    border-radius: 25px;
    background-image: url("./images/icons/Input.svg");
    background-repeat: no-repeat;
    background-position: 96% 50%;

    @include onTablet {
      margin: 100px 0 0;
      width: 54%;
    }

    @include onDesktop {
      margin: 190px 0 0;
    }

    &:hover {
      border-width: 2px;
      border-color: $blackColor;
    }

    &::placeholder {
      font-size: 12px;
      line-height: 16px;
      color: $greyColor;

      @include onTablet {
        font-size: 16px;
        line-height: 22px;
      }
    }
  }

  &__info {
    margin: 120px auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
  }
}
