.tags {
  margin-top: 94px;
  display: flex;
  justify-content: space-between;

  &__articles {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

    @include onTablet {
      margin-left: 98px;
      gap: 60px;
    }

    &:first-child {
      margin-top: 10px;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;

    @include onTablet {
      flex-direction: row;
    }

    &-page {
      display: none;
    }
  }

  &__list {
    margin-right: 11.2%;
    margin-left: 50px;
    display: none;
    list-style: none;
    font-size: 16px;
    line-height: 45px;

    @include onTablet {
      display: block;
    }
  }

  &__item {
    &-bold {
      margin-bottom: 6px;
      font-size: 20px;
      font-weight: 700;
      line-height: 27px;
    }
  }

  &__img {
    max-width: 100%;
    min-height: 177px;
    object-fit: cover;

    @include onTablet {
      max-width: 237px;
    }
  }
}
