/* libre-baskerville-regular - latin */
@font-face {
  font-family: "Libre Baskerville";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/libreBaskerville.woff2") format("woff2"); }
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/openSans.woff2") format("woff2"); }
.page {
  background-color: #fff; }

.header {
  display: flex;
  justify-content: space-between;
  margin-top: 31px; }
  .header__logo:hover {
    transform: scale(1.05); }
  .header__info {
    display: flex;
    align-items: center;
    gap: 31px; }
  .header__nav {
    display: flex;
    gap: 40px; }
    .header__nav > a:last-child {
      margin-left: -6px; }
  .header__actions {
    display: flex;
    align-items: center;
    gap: 16px; }
  .header__link {
    font-family: "Libre Baskerville", serif;
    font-size: 24px;
    line-height: 24px;
    text-decoration: none;
    color: #000;
    display: inline-block; }
    .header__link-bold {
      font-weight: 700;
      letter-spacing: 0.05em; }
    .header__link-login {
      margin-top: -8px;
      display: flex;
      align-items: center;
      height: 46px;
      color: #1c1c1c;
      padding: 0 38px;
      border: 2px solid #1c1c1c;
      border-radius: 10px; }
    .header__link:hover {
      transform: scale(1.2); }
  .header__input {
    margin-top: -8px;
    height: 46px;
    width: 363px;
    border: 2px solid #fff;
    border-radius: 10px;
    background-image: url("./images/icons/Input.svg");
    background-repeat: no-repeat;
    background-position: right; }
    .header__input:hover {
      border-color: #1c1c1c; }
  .header__label {
    opacity: 0; }

.hero {
  margin-top: 40px;
  height: 592px;
  background-image: url("./images/heroBackground.jpg");
  background-repeat: no-repeat;
  background-size: cover; }

.article {
  margin-left: 45px;
  padding: 76px 40px 100px;
  background-color: #fff;
  max-width: 509px; }
  .article-editors {
    margin-left: 0;
    padding: 0; }
  .article-interior {
    margin-left: 55.5%;
    margin-top: 50px;
    padding: 130px 40px 100px; }
  .article__description {
    color: #1c1c1c80;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -0.05em; }
  .article__title {
    font-family: "Libre Baskerville", serif;
    font-size: 38px;
    font-weight: 700;
    line-height: 41px; }
  .article__author {
    margin-top: 16px;
    display: flex;
    align-items: baseline;
    color: #1c1c1c80;
    font-size: 16px;
    line-height: 22px; }
    .article__author-editors {
      margin-top: 0px; }
    .article__author_name {
      display: flex;
      align-items: center; }
      .article__author_name::after {
        content: '';
        display: inline-block;
        margin: 0 13px;
        height: 3px;
        width: 3px;
        background-color: #1c1c1c80;
        border-radius: 50%; }
    .article__author_time {
      font-size: 14px;
      line-height: 19px; }
  .article__text {
    margin-top: 14px;
    font-size: 16px;
    line-height: 24px;
    word-spacing: 0.3em;
    max-width: 430px; }

.editors {
  margin-top: 52px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 55px; }
  .editors__title {
    font-size: 42px;
    font-weight: 700;
    line-height: 57px;
    letter-spacing: 0.02em; }
    .editors__title::after {
      content: "";
      margin: 8px auto 0;
      display: block;
      height: 5px;
      width: 200px;
      background-color: #1c1c1c; }
  .editors__img {
    height: 298px; }
  .editors__card {
    display: flex;
    gap: 68px; }

.interior {
  margin-top: 70px;
  height: 592px;
  background-image: url("./images/interiorBackground.jpg");
  background-repeat: no-repeat;
  background-size: cover; }

body {
  padding: 0 20px 0 28px; }

a {
  transition-duration: 0.3s; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  transition-duration: 0.3s; }

/*# sourceMappingURL=main.css.map */
